@font-face {
    font-family: 'Onest';
    font-weight: 400;
    font-style: normal;   
    src: local("Onest"), url("../fonts/OnestRegular1602-hint.woff") format("woff2");
  }

  @font-face {
    font-family: 'Onest';
    font-weight: 500;
    font-style: normal;   
    src: local("Onest"), url("../fonts/OnestMedium1602-hint.woff") format("woff2");
  }

  @font-face {
    font-family: 'Onest';
    font-weight: 700;
    font-style: normal;   
    src: local("Onest"), url("../fonts/OnestBold1602-hint.woff") format("woff2");
  }
 
  